<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Tree Recruiting</title>
        <meta name="description" content="Tree Recruiting Stanford Engineering Talent Agency">
        <meta name="keywords" content="Tree Recruiting, recruiting, engineering recruiting, startup recruiting, engineering talent, looking for startup job, treerecruiting, tree recruiting, stanford recruiting, stanford engineer recruiting"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="/stylesheets/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/stylesheets/line-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/stylesheets/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/stylesheets/lightbox.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/stylesheets/theme.css" rel="stylesheet" type="text/css" media="all"/>
        <!--[if gte IE 9]>
        	<link rel="stylesheet" type="text/css" href="css/ie9.css" />
		<![endif]-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>
        <script src="/javascripts/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        
    </head>
    <body class="boxed-layout">
    	<div class="loader">
    		<div class="spinner">
			  <div class="double-bounce1"></div>
			  <div class="double-bounce2"></div>
			</div>
    	</div>
				
		<div class="nav-container">
			<nav class="top-bar contained-bar">
				<div class="container">
				
					<div class="contained-wrapper">
						<div class="row nav-menu">
							<div class="col-md-2 col-sm-3 columns">
							<a href="/"><img class="logo logo-dark" alt="Logo" src="/images/logo-dark.png"></a> 
						</div>
					
							<div class="col-md-10 col-sm-9 columns">
							<ul class="menu">
								<li><a href="/#about">About Us</a></li>
								<li><a href="/#process">Our Process</a></li>
								<li><a href="/#team">Team</a></li>
								<li><a href="/client">Become a client</a></li>
								<li><a href="/candidate">Become a Candidate</a></li>
								<li><a href="/join">Join the team</a></li>
								<li><a href="/interview">Members</a></li>
							</ul>
						</div>
						</div>
					
						<div class="mobile-toggle">
							<i class="icon icon_menu"></i>
						</div>
						
					</div>
					
				</div>
				<div class="bottom-border"></div>
			</nav>		
		</div>
		
		<div class="main-container">
			<section class="contact-photo">
				
				<div class="background-image-holder">
					<img class="background-image" alt="Background Image" src="/images/hero3.jpg">
				</div>
				
				<div class="container">
					<!-- Change the width and height values to suit you best -->
					<div class="typeform-widget" data-url="https://treerecruiting.typeform.com/to/jxcdd4" data-text="Interview" style="width:100%;height:800px;"></div>
					<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
						
					</div>
		
				</div>
			
			</section>
			
		</div>
		
		<div class="footer-container">
			
			<footer class="bg-primary short-2">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<span class="text-white">© 2014 Tree Recruiting Inc.</span>
						</div>
					</div>
				</div>
				
				<div class="contact-action">
					<div class="align-vertical">
						<i class="icon text-white icon_mail"></i>
						<a href="/contact" class="text-white"><span class="text-white">Get in touch with us <i class="icon arrow_right"></i></span></a>
					</div>
				</div>
			</footer>
		</div>
				
		<script src="https://www.youtube.com/iframe_api"></script>
		<script src="/javascripts/jquery.min.js"></script>
        <script src="/javascripts/jquery.plugin.min.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>
        <script src="/javascripts/jquery.flexslider-min.js"></script>
        <script src="/javascripts/smooth-scroll.min.js"></script>
        <script src="/javascripts/skrollr.min.js"></script>
        <script src="/javascripts/spectragram.min.js"></script>
        <script src="/javascripts/scrollReveal.min.js"></script>
        <script src="/javascripts/isotope.min.js"></script>
        <script src="/javascripts/twitterFetcher_v10_min.js"></script>
        <script src="/javascripts/lightbox.min.js"></script>
        <script src="/javascripts/jquery.countdown.min.js"></script>
        <script src="/javascripts/scripts.js"></script>
    </body>
</html>
				