
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Tree Recruiting</title>
        <meta name="description" content="Tree Recruiting Stanford Engineering Talent Agency">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="Tree Recruiting, recruiting, engineering recruiting, startup recruiting, engineering talent, looking for startup job, treerecruiting, tree recruiting, stanford recruiting, stanford engineer recruiting"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="/stylesheets/flexslider.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/stylesheets/line-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/stylesheets/elegant-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/stylesheets/lightbox.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="/stylesheets/theme.css" rel="stylesheet" type="text/css" media="all"/>
        <!--[if gte IE 9]>
        	<link rel="stylesheet" type="text/css" href="css/ie9.css" />
		<![endif]-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>
        <script src="/javascripts/modernizr-2.6.2-respond-1.1.0.min.js"></script>

        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59822071-1', 'auto');
  ga('send', 'pageview');

</script>
        
    </head>
    <body class="boxed-layout">
    	<div class="loader">
    		<div class="spinner">
			  <div class="double-bounce1"></div>
			  <div class="double-bounce2"></div>
			</div>
    	</div>
				
		<div class="nav-container">
			<nav class="top-bar contained-bar">
				<div class="container">
				
					<div class="contained-wrapper">
					
						<div class="row nav-menu">
							<div class="col-md-2 col-sm-3 columns">
							<a href="/"><img class="logo logo-dark" alt="Logo" src="/images/logo-dark.png"></a> 
						</div>
					
							<div class="col-md-10 col-sm-9 columns">
							<ul class="menu">
								<li><a href="/#about">About Us</a></li>
								<li><a href="/#team">Team</a></li>
								<li><a href="/#clients">Clients</a></li>
								<li><a href="/client">Become a client</a></li>
								<li><a href="/candidate">Become a Candidate</a></li>
								<li><a href="/join">Join the team</a></li>
								<li><a href="/interview">Members</a></li>
							</ul>
						</div>
						</div>
					
						<div class="mobile-toggle">
							<i class="icon icon_menu"></i>
						</div>
						
					</div>
					
				</div>
				<div class="bottom-border"></div>
			</nav>		
		</div>
		
		<div class="main-container">
			<header class="fullscreen-element no-pad centered-text">
				<div class="background-image-holder parallax-background overlay">
					<img class="background-image" alt="Background Image" src="/images/bag-and-hands.jpg">
				</div>
				
				<div class="container align-vertical">
					<div class="row">
						<div class="col-md-12 text-center">
							<span class="text-white alt-font">Technical Recruiting Done Right</span>

							<h1 class="text-white">Exclusive<br>
								In Person<br>
								By Engineers<br>
								High-Touch</h1>

							<a target="_blank" href="/join" class="btn btn-primary btn-filled">Become a Client</a>
							<a target="_blank" href="/candidate" class="btn btn-primary btn-white">Become a Candidate</a>

						</div>
					</div>
				</div>
			</header>

			<section class="pure-text-centered" id="about">
				<div class="container">
					<div class="row">
						<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-center">
							<h1><strong>About Us</strong></h1>
							<p class="lead">
								Tree Recruiting was founded by engineers and entrepreneurs from Stanford who aim to bring in depth technical understanding and diligence to technical recruiting. We serve to connect disruptive startups with gifted engineers. We put in-person interactions at the core of our methodology.
							</p>
						</div>
					</div>
		
				</div>
			</section>
			
			

			<section class="image-divider overlay duplicatable-content milestones">
				<div class="background-image-holder parallax-background">
					<img class="background-image" alt="Background Image" src="/images/trees.jpeg">
				</div>
				
				<div class="container">
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2 text-center">
							<h1 class="text-white"><strong>Why Us?</strong></h1>
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-4 text-center">
							<div class="feature feature-icon-large">
								<i class="text-white icon icon-genius icon-large"></i>
								<h5 class="text-white">Stanford &amp; Engineers</h5>
								<p class="text-white">We are computer science engineers from Stanford. Our team is composed of talented engineers who can understand the requirements of the position and evaluate the technical skills of candidates. Others will ask you a list of coding languages to conduct a database search we will sit with you to understand your work.</p>
							</div>
						</div>

						
						<div class="col-sm-4 text-center">
							<div class="feature feature-icon-large">
								<i class="text-white icon icon-chat icon-large"></i>
								<h5 class="text-white">Face-to-Face Interaction</h5>
								<p class="text-white">We believe that face-to-face interaction and interpersonal relationships are at the core of successful recruiting teams. It all begins with understanding the culture and values that are important to your startup. Our work is based on meeting with candidates to understand their life goals, ambitions, and values beyond the code.</p>
							</div>
						</div>
						
						<div class="col-sm-4 text-center">
							<div class="feature feature-icon-large">
								<i class="text-white icon icon-gears icon-large"></i>
								<h5 class="text-white">Proven Process</h5>
								<p class="text-white">We follow a proven process that connects the right talent with the right startup.
								This begins with an initial meeting at your office to understand the culture of your organization. After due thorough research and technical due diligence, we introduce a small number of candidates through our pipeline who are willing to join your team.
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<section class="timeline-1" id="process">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
							<h1><strong>Our Process</strong></h1>
							<p class="lead">
								We use a proven recruitment methodology that aims to place candidates not just on technical capabilities but also cultural and personality fit. We leverage face-to-face interactions and personal connections in each step of our process.
							</p>	
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-12">
							<div class="timeline-event">
								<div class="col-sm-6 col-md-push-6">
									<h2>Client Meeting &amp; Position Brief</h2>
								</div>
								
								<div class="middle">
									<i class="icon icon-lightbulb"></i>
									<div class="vertical-line"></div>
								</div>
								
								<div class="col-sm-6 col-md-pull-6">
									<p>
										When you decide that you want to work with us we begin with setting up an initial phone call to have some understanding about your startup and the position you are looking to fill. If we believe that your startup and the position fit our criteria we will setup a meeting with you at your office. We ideally prefer to talk to the founder and direct report of the position to understand the position and company culture. Based on our meeting we will prepare a position brief and confirm with you.
									</p>
								</div>
								
								
							</div>
							
							<div class="timeline-event">
								<div class="col-sm-6">
									<h2>Candidate Selection &amp; Interview</h2>
								</div>
								
								<div class="middle">
									<i class="icon icon-target"></i>
									<div class="vertical-line"></div>
								</div>
								
								<div class="col-sm-6">
									<p>
										Once we finalize the position brief with you we start our candidate selection process. It begins with our network of associates creating a long list of candidates. Then we conduct interviews with all those candidates and shortlist 3 candidates based on technical ability, personality and interest.
									</p>
									
								</div>
							</div>
							
							<div class="timeline-event">
								<div class="col-sm-6 col-md-push-6">
									<h2>Client Meets Candidates</h2>
								</div>
								
								<div class="middle">
									<i class="icon icon-heart"></i>
									<div class="vertical-line"></div>
								</div>
								
								<div class="col-sm-6 col-md-pull-6">
									<p>
										We present you a short-list of 3 candidates with their interview reports attached. Then we set interviews for you with the candidates you will be interested from the shortlist.
									</p>
								</div>
								
								
							</div>
							
							<div class="timeline-event">
								<div class="col-sm-6">
									<h2>Reference Check, Closing, Follow-up</h2>
								</div>
								
								<div class="middle">
									<i class="icon icon-briefcase"></i>
									<div class="vertical-line"></div>
								</div>
								
								<div class="col-sm-6">
									<p>
										Once you want to move forward with one of our candidates we assist you in the reference check process. After references are confirmed we can further assist you on closing of the candidate. We believe that recruiting done right doesn’t end yet. We conduct follow-up calls in 1, 3 and 6 month periods both with you and our candidate.
									</p>
									
								</div>
							</div>
							
						</div>
					</div>
					
		
				</div>
			</section>

			<section class="no-pad clearfix">
				
				<div class="col-md-4 col-sm-6 no-pad">
					<div class="feature-box bg-primary">
						<h1 class="text-white">Become Our Client</h1>
						<p class="text-white">
							We exclusively work with ambitious, high growth technology startups. Interested? ? Our partners would love to meet you.
						</p><br><br><br><p>
						<a href="/client" class="btn btn-primary btn-white">Let's Meet</a>
					</div>
				</div>
				
				<div class="col-md-4 col-sm-6 no-pad">
					<div class="feature-box bg-secondary-1">
						<h1 class="text-white">Become a Candidate</h1>
						<p class="text-white">
							Learn more about Tree Recruiting portfolio companies. Become a candidate by uploading your LinkedIn profile and personal information. We will be in touch shortly.		
						</p>
						<br><br>
						<a href="/candidate" class="btn btn-primary btn-white">Fill The Form</a>
					</div>
				</div>
				
				<div class="col-md-4 col-sm-6 no-pad">
					<div class="feature-box bg-muted">
						<h1>Join Our Team</h1>
						<p>
							We are looking for Stanford Computer Scientists to join our tight-knit team! If you have a passion for people, love asking technical questions, and are interested in being a part of an elite team of Stanford Computer Scientists, Tree Recruiting would love to meet you. 						
						</p>
						<a href="/join" class="btn btn-primary">Apply</a>
					</div>
				</div>
				
			</section>


			<section class="clients-2" id="clients">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center">
							<br>
							<h1><strong>Our Clients</strong></h1>
							<p class="lead">
								We are proud to be working with amazing companies pursuing ambitious challenges with great people.
							</p>
							<br>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-4">
							<a href="https://www.digit.co/" target="_blank"><img alt="Client Logo" src="/images/digit.png"></a>
						</div>
						<div class="col-md-4 col-sm-4">
							<a href="http://sidewire.com/" target="_blank"><img alt="Client Logo" src="/images/sidewire_logo.jpeg"></a>
						</div>
						
						<div class="col-md-4 col-sm-4">
							<a href="https://socotra.com/" target="_blank"><img alt="Client Logo" src="/images/socotra-tree.jpeg"></a>
						</div>
					</div>
					<br/>
					<br/>
					<div class="row">
						<div class="col-md-4 col-sm-4">
							<a href="http://developer.qloo.com/#/" target="_blank"><img alt="Client Logo" src="/images/qloo_logo.png"></a>
						</div>
						<div class="col-md-4 col-sm-4">
							<a href="http://www.zugata.com/" target="_blank"><img alt="Client Logo" src="/images/zugatafull.jpeg"></a>
						</div>
						<div class="col-md-4 col-sm-4">
							<a href="http://www.getiota.com/" target="_blank"><img alt="Client Logo" src="/images/iotera_logo_black.png"></a>
						</div>
					</div>
					<br/>
					<br/>
					<div class="row">
						<div class="col-md-4 col-sm-4">
							<a href="http://angle-tech.com/" target="_blank"><img alt="Client Logo" src="/images/angletech_text_logo.png"></a>
						</div>
						<div class="col-md-4 col-sm-4">
							<a href="https://app.joinhandshake.com/login" target="_blank"><img alt="Client Logo" src="/images/hs_logo_plain_small.png"></a>
						</div>
						<div class="col-md-4 col-sm-4">
							<a href="https://www.udemy.com/" target="_blank"><img alt="Client Logo" src="/images/Udemy_logo-green.png"></a>
						</div>
					</div>
					<div class="col-md-8 col-md-offset-2 text-center">
							<br>
							<h2>and more...</h2>
							<br>
						</div>
				</div>
			</section>

			<section class="team-1" id="team">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center">
							<h1><strong>Meet Our Team</strong></h1>
							<p class="lead">
								We're a team of passionate and ambitious Stanford Engineers. We all come from different backgrounds, countries and experiences. Our passion for technology, revolutionary startups and smart minds brings us all together.
								We all love meeting with new people and helping fellow friends to reach their career goals.
							</p>
						</div>
					</div>
					
					<div class="row">

						<div class="col-sm-4 col-md-3">
							<div class="team-1-member">
								<img alt="Team Member" src="/images/baris_head2.jpg ">
								<h5>Baris Akis</h5>
								<span>Co-Founder &amp; Managing Partner</span><br>
								<ul class="social-icons">
									<li>
										<a href="https://www.linkedin.com/in/barisakis">
											<i class="icon social_linkedin"></i>
										</a>
									</li>
								
									<li>
										<a href="https://twitter.com/barisakis">
											<i class="icon social_twitter"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>

						<div class="col-sm-4 col-md-3">
							<div class="team-1-member">
								<img alt="Team Member" class="background-image" src="/images/lindsey.jpg">
								<h5>Lindsey Allison</h5>
								<span>Leadership Fellow</span><br>
							</div>
						</div>

						<div class="col-sm-4 col-md-3">
							<div class="team-1-member">
								<img alt="Team Member" class="background-image" src="/images/rish.jpg">
								<h5>Rishabh Bhargava</h5>
								<span>Associate</span><br>
								<ul class="social-icons">
									<li>
										<a href="https://www.linkedin.com/in/bhargavarishabh">
										<i class="icon social_linkedin"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>


						<div class="col-sm-4 col-md-3">
							<div class="team-1-member">
								<img alt="Team Member" class="background-image" src="/images/bradon.jpg ">
								<h5>Brandon Beckhardt</h5>
								<span>Senior Associate</span><br>
								<ul class="social-icons">
									<li>
										<a href="https://www.linkedin.com/pub/brandon-beckhardt/75/349/8b6">
											<i class="icon social_linkedin"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>

						<div class="col-sm-4 col-md-3">
							<div class="team-1-member">
								<img alt="Team Member" class="background-image" src="/images/christie.jpg">
								<h5>Christie Dawson</h5>
								<span>Leadership Fellow</span><br>
							</div>
						</div>

						<div class="col-sm-4 col-md-3">
							<div class="team-1-member">
								<img alt="Team Member" class="background-image" src="/images/raunak.jpg">
								<h5>Raunak Kasera</h5>
								<span>Associate</span><br>
								<ul class="social-icons">
									<li>
										<a href="https://www.linkedin.com/in/raunakkasera">
											<i class="icon social_linkedin"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>	

						<div class="col-sm-4 col-md-3">
							<div class="team-1-member">
								<img alt="Team Member" class="background-image" src="/images/michael.jpg">
								<h5>Michael Kim</h5>
								<span>Associate</span><br>
								<ul class="social-icons">
									<li>
										<a href="https://www.linkedin.com/in/michael-kim-4006b460">
											<i class="icon social_linkedin"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>	
						
						<div class="col-sm-4 col-md-3">
							<div class="team-1-member">
								<img alt="Team Member" class="background-image" src="/images/eric.jpg">
								<h5>Chengshu (Eric) Li</h5>
								<span>Senior Associate</span><br>
								<ul class="social-icons">
									<li>
										<a href="https://www.linkedin.com/in/chengshu-eric-li-39104b10a">
											<i class="icon social_linkedin"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>	


						<div class="col-sm-4 col-md-3">
							<div class="team-1-member">
								<img alt="Team Member" class="background-image" src="/images/ben_head.jpeg">
								<h5>Ben Limonchik</h5>
								<span>Co-Founder</span><br>
								<ul class="social-icons">
									<li>
										<a href="https://www.linkedin.com/pub/ben-limonchik/b2/329/aaa">
											<i class="icon social_linkedin"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>

						<div class="col-sm-4 col-md-3">
							<div class="team-1-member">
								<img alt="Team Member" class="background-image" src="/images/zoe.jpg">
								<h5>Zoe Robert</h5>
								<span>Associate</span><br>
								<ul class="social-icons">
									<li>
										<a href="https://www.linkedin.com/in/zoerobert">
											<i class="icon social_linkedin"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>

						<div class="col-sm-4 col-md-3">
							<div class="team-1-member">
								<img alt="Team Member" class="background-image" src="/images/abraham.jpg">
								<h5>Abraham Starosta</h5>
								<span>Senior Associate</span><br>
								<ul class="social-icons">
									<li>
										<a href="https://www.linkedin.com/pub/abraham-starosta/64/627/ba6">
											<i class="icon social_linkedin"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>

<!-- 					<div class="col-md-8 col-md-offset-2 text-center">
							<br />
							<a target="_blank" href="/team" class="btn btn-primary btn-filled">Read More</a>
						</div>
					</div> -->
					
				</div>

			</section>
			
		</div>
		
		<div class="footer-container">
			
			<footer class="bg-primary short-2">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<span class="text-white">© 2014 Tree Recruiting Inc.</span>
						</div>
					</div>
				</div>
				
				<div class="contact-action">
					<div class="align-vertical">
						<i class="icon text-white icon_mail"></i>
						<a href="/contact" class="text-white"><span class="text-white">Get in touch with us <i class="icon arrow_right"></i></span></a>
					</div>
				</div>
			</footer>
		</div>
				
		<script src="https://www.youtube.com/iframe_api"></script>
		<script src="/javascripts/jquery.min.js"></script>
        <script src="/javascripts/jquery.plugin.min.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>
        <script src="/javascripts/jquery.flexslider-min.js"></script>
        <script src="/javascripts/smooth-scroll.min.js"></script>
        <script src="/javascripts/skrollr.min.js"></script>
        <script src="/javascripts/spectragram.min.js"></script>
        <script src="/javascripts/scrollReveal.min.js"></script>
        <script src="/javascripts/isotope.min.js"></script>
        <script src="/javascripts/twitterFetcher_v10_min.js"></script>
        <script src="/javascripts/lightbox.min.js"></script>
        <script src="/javascripts/jquery.countdown.min.js"></script>
        <script src="/javascripts/scripts.js"></script>
        <script src="/javascripts/app.js"></script>
    </body>
</html>
				